[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
